.legend
{
	display:flex;
	justify-content: flex-start;
}

.containerLegende
{
	display:flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	flex-direction: column;
	width:70%;
}

.lleft
{
	width:40%;
	font-size:small;
	border-left: 1pt solid grey;
	border-top: 1pt solid grey ;
	border-bottom: 1pt solid grey ;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 10px 0px 10px 10px;
}

.colg
{
	border: 1pt dotted;
	padding: 10px;
	margin: 1px;
}

.lright
{
	width:60%;
	padding: 10px 10px 10px 10px;
	margin-left: 0px;
	border-right: 1pt solid grey;
	border-top: 1pt solid grey ;
	border-bottom: 1pt solid grey ;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	font-size:small;

}

.success
{
	background-color: #dff0d8;
	color: #dff0d8;
}

.danger
{
	background-color: mistyrose;
	color: mistyrose;
}

.secondary
{
	background-color: whitesmoke;
	display: flex;
	justify-content: center;
}

.grey
{
	background-color: whitesmoke;
	color: whitesmoke;
}

.labelg
{
  display: inline;
  color: white;
  background-color: dimgrey;
}

.warning
{
	background-color: #fcf8e3;
	color: #fcf8e3;
}

.info
{
	background-color: #d9edf7;
	color: #d9edf7;
}
